@font-face {
   font-family: 'Advantage';
   font-display: swap;
   src: url('Advantage/font.ttf');
}

@font-face {
   font-family: 'Morganite';
   font-display: swap;
   src: url('Morganite/font.ttf');
}

@font-face {
   font-family: 'OxygenBold';
   font-display: swap;
   src: url('Oxygen/fontb.ttf');
}

@font-face {
   font-family: 'OxygenLight';
   font-display: swap;
   src: url('Oxygen/fontl.ttf');
}

@font-face {
   font-family: 'OxygenRegular';
   font-display: swap;
   src: url('Oxygen/fontr.ttf');
}

@font-face {
   font-family: 'Manrope';
   font-display: swap;
   src: url('Manrope/font.ttf');
}

@font-face {
   font-family: 'Epilogue';
   font-display: swap;
   src: url('Epilogue/font.ttf');
}







