@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "m"; }
  2.2791%, 25.0698% { content: "min"; }
  3.4186%, 23.9302% { content: "mind"; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "e"; }
  33.0465%, 49.0000% { content: "ef"; }
  34.1860%, 47.8605% { content: "effe"; }
  35.3256%, 46.7209% { content: "effec"; }
  36.4651%, 45.5814% { content: "effecie"; }
  37.6047%, 44.4419% { content: "effeciency"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "h"; }
  56.9767%, 72.9302% { content: "hu"; }
  58.1163%, 71.7907% { content: "hum"; }
  59.2558%, 70.6512% { content: "huma"; }
  60.3953%, 69.5116% { content: "humani"; }
  61.5349%, 68.3721% { content: "humanity"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "c"; }
  80.9070%, 94.5814% { content: "ch"; }
  82.0465%, 93.4419% { content: "chi"; }
  83.1860%, 92.3023% { content: "chil"; }
  84.3256%, 91.1628% { content: "chill"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "developer"; }
    25% { content: "writer"; }
    50% { content: "reader"; }
    75% { content: "human"; }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}


.image-slider {
	position:relative;
	display: inline-block;
	line-height: 0;
}
.image-slider img {
	user-select: none;
	max-width: 400px;
}
.image-slider > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 25px;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}
.image-slider > div:before {
	content: '';
	display: block;
	width: 13px; 
	height: 13px;
	overflow: hidden;
	position: absolute;
	resize: horizontal;
	right: 3px; bottom: 3px;
	background-clip: content-box;
	background: linear-gradient(-45deg, black 50%, transparent 0);
	-webkit-filter: drop-shadow(0 0 2px black);
	filter: drop-shadow(0 0 2px black);
}

.fade
{
        opacity:0.9;
}
.fade:hover
{
        opacity:1;
}

#cover {
  height: 100%;
  width: 100%;
  z-index: 100;
}

#ball {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  display: absolute;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-family: Arial, Helvetica, sans;
  text-overflow: clip;
  text-align: center;
  transition: all .7s;
  position: absolute;
  z-index: 200;
}

#ball #cnt {
  height: 25rem;
  width: 25rem;
  letter-spacing: .2rem;
  display: none;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#ball:hover {
  height: 60rem;
  width: 60rem;
  border-radius: 0;
}

#ball:hover #cnt {
  display: flex;
}